.status {
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .onlineStatus {
    composes: status;
    background-color: #03c203;
  }
  
  .offlineStatus {
    composes: status;
    background-color: #e01522;
  }

.item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 10px;
    border: 1px solid #ebe9e9;
    border-radius: 10px;
    background-color: #ebe9e9;
    width: 200px;
    margin-bottom: 10px;
}